 * {
    background-color: lightblue;
}

 #menuLateralIzquierdo {
     background-color: white;
 }


 #menuLateralDerecho {
     background-color: white;
 }

 #menuCabecera{
     background-color: white;
 }
